{% load static %}
<!doctype html>
<html>
  <head>
    <title>Blog Posts</title>
    <link rel="stylesheet" href="{% static "book-review.css" %}">
  </head>
  <body>
    <header>
      <div>My Book Posts</div>
      <nav>
        <a href="{% url "posts_list" %}">Back to list</a>
        <a href="{% url "create_post" %}">Create a post</a>
      </nav>
    </header>
    <main>
        <div class="detail-page-book-review">
            {% comment %} <img class="book-cover" src="{{ review.cover_image }}"> {% endcomment %}
            <h2 class="book-title">
              {% comment %} <a href="detail.html">{{ post.title }}</a> {% endcomment %}
              <div>
                {{ post.title }}
              </div
            </h2>
            {% comment %} <div class="book-rating">{{ review.rating }} stars</div>
            <div class="book-authors">
              {{ review.authors }}
            </div>
            <h3>Summary</h3>
            <p>
              {{ review.summary }}
            </p> {% endcomment %}
            <h3>My post</h3>
            <p>
              {{ post.content }}
            </p>
          </div>
    </main>
    <footer>
      <div>
        Copyright 2022 by me
      </div>
      <p>
        This is my site that contains all of my blog posts
        that you can read.
      </p>
    </footer>
  </body>
</html>